@tailwind base;
@tailwind utilities;
@tailwind components;

// @layer base {
//   button {
//     @apply ;
//   }
// }
@layer base {
  th {
    @apply font-semibold;
  }
  td {
    @apply font-medium;
  }
}
@layer components {
  body::-webkit-scrollbar-track,
  .admin-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  body::-webkit-scrollbar,
  .admin-sidebar::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }

  body::-webkit-scrollbar-thumb,
  .admin-sidebar::-webkit-scrollbar-thumb {
    @apply bg-primary;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 24px;
  }
  .badge {
    @apply font-semibold uppercase;
  }
  .table {
    :where(thead, tfoot) {
      @apply text-current text-sm;
    }
  }

  .btn {
    @apply font-medium normal-case;
  }
  .active-nav-link {
    @apply text-base-100 bg-secondary;
  }

  .btn-error {
    @apply text-gray-200;
  }
  .profile-modal-avatar {
    @apply transition-all duration-300;
    .profile-image,
    .profile-icon {
      @apply transition-all duration-300;
    }
    .profile-icon {
      @apply opacity-0;
    }
    &:hover {
      .profile-image {
        @apply opacity-25;
      }
      .profile-icon {
        @apply opacity-100;
      }
    }
  }

  //MODAL
  .AlertDialogOverlay {
    // @apply backdrop-blur-md;
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  .AlertDialogContent {
    @apply bg-base-200;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .AlertDialogContent:focus {
    outline: none;
  }

  .AlertDialogTitle {
    @apply font-semibold mb-3 text-lg;
  }

  .AlertDialogDescription {
    @apply mb-8;
  }

  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.user-reviews-section {
  :nth-last-child(2) {
    border-bottom: 0 !important;
  }
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-range-slider {
  .price-input {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .price-range-slider-progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #f99293;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type='range']::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #f99293;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type='range']::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #f99293;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
}

.ck-content {
  height: 200px;
}

.ck-content-error {
  border: 1px solid red;
}

//Home Slider

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@layer components {
  .slider {
    // width: 100%;
    overflow: hidden;
  }

  .slide-track {
    display: flex;
    @apply gap-x-12 max-w-xs md:max-w-md lg:max-w-4xl;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .slide {
    img {
      @apply h-24 w-24 md:h-64 md:w-64 max-w-none;
    }
    white-space: nowrap;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
//Swiper
.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
